<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Scouterville</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="log">
    <center>
        <h1>Login</h1>
    </center>
    <form>
        <center>
            <label for="id">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="text" name="Email" placeholder="Email" id="id" required>
        </center>
        <br>
        <center>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Parolă" id="password" required>
        </center>
        <br>
        <center>
            <input type="submit" value="Login">
        </center>

        <center>
            <div><a>Email sau parolă greșită</a></div>
        </center>

    </form>
    <br>
    <center>
        <div><a href="reg.html">Nu am niciun cont</a></div>
    </center>
</div>
</body>
</html>