<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to Scouterville</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="log">
    <center>
        <h1>Login</h1>

        <form>

            <!-- //Cere email -->
            <label for="id">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="text" name="Email" placeholder="Email" id="id" required>
            <br><br>

            <!--  //Cere parola -->
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Parolă" id="password" required>
            <br><br>

            <!--   //buton submit -->
            <input type="submit" value="Login" >
        </form>
        <br>
        <div><a href="registration">Nu am niciun cont</a></div>
    </center>
</div>
</body>
</html> 
