<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello, traveler!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="Registration">
    <center>
        <h1>Register</h1>
    </center>
    <form>
        <center>
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Nume Utilizator" id="username" required>
        </center>
        <br>
        <center>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Parolă" id="password" required>
        </center>
        <br>
        <center>
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
        </center>
        <br>
        <center>
            <input type="submit" value="Register">
        </center>

    </form>
</div>
</body>
</html>