<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello, traveler!</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="Registration">
    <center>
        <h1>Register</h1>
    </center>
    <form>
        <center>
            <label for="firstName">
                <i class="fas fa-user"></i>&nbsp
            </label>
            <input type="text" name="firstName" placeholder="Prenumele" id="firstName" required>
        </center>
        <br>
        <center>
            <label for="lastName">
                <i class="fas fa-user"></i>&nbsp
            </label>
            <input type="text" name="lastName" placeholder="Numele" id="lastName" required>
        </center>
        <br>
        <center>
            <label for="gender">
                <i class="fas fa-user"></i>&nbsp
            </label>
            <select id="gender" name="gender" required>
                <option value="masculin">Masculin</option>
                <option value="feminin">Feminin</option>
                <option value="undefined">Nu doresc să specific</option>
                <option value="none">Nu mă identific cu niciun sex</option>
            </select>
        </center>
        <br>
        <center>
            <label for="password">
                <i class="fas fa-lock"></i>&nbsp
            </label>
            <input type="password" name="password" placeholder="Parolă" id="password" required>
        </center>
        <br>
        <center>
            <label for="email">
                <i class="fas fa-envelope"></i>&nbsp
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
        </center>
        <br>
        <center>
            <label for="telephone">
                <i class="fas fa-phone"></i>&nbsp
            </label>
            <input type="text" name="telephone" placeholder="Telefon" id="telephone" required>
        </center>
        <br>
        <center>
            <input type="submit" value="Register">
        </center>

    </form>
</div>
</body>
</html>